hazelcast-spring/src/main/resources/hazelcast-spring.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.hazelcast.com/schema/config"
           targetNamespace="http://www.hazelcast.com/schema/config">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="group" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="properties" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="network" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="executor-service" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="queue" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="map" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="merge-policies" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="optional" default="default"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="hazelcast">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="config" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="map">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="backup-count" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="eviction-policy" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="max-size" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="eviction-percentage" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="merge-policy" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="name" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="queue">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="max-size-per-jvm"/>
                <xs:element ref="time-to-live-seconds"/>
            </xs:sequence>
            <xs:attribute name="name" use="optional" default="default">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="network">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="port" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="join" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="interfaces" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="symmetric-encryption" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="asymmetric-encryption" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="time-to-live-seconds" default="0">
        <xs:annotation>
            <xs:documentation>
                Maximum number of seconds for each item to stay in the queue. Items that are
                not consumed in "time-to-live-seconds" will automatically get evicted from the queue.
                Any integer between 0 and Integer.MAX_VALUE. 0 means infinite. Default is 0.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:byte"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="tcp-ip">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="members"/>
                <xs:sequence>
                    <xs:element ref="member" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:sequence>
                    <xs:element ref="interface" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:choice>
            <xs:attribute name="enabled" type="xs:boolean" use="optional" default="false"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="store-type">
        <xs:annotation>
            <xs:documentation>
                The key store type.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="store-path">
        <xs:annotation>
            <xs:documentation>
                The path to the key store.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="store-password">
        <xs:annotation>
            <xs:documentation>
                The key store password.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="salt" default="thesalt">
        <xs:annotation>
            <xs:documentation>
                The value to use when generating the secret key
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="port">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_port">
                    <xs:attribute name="auto-increment" type="xs:boolean" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="password" default="drowssap">
        <xs:annotation>
            <xs:documentation>
                The pass phrase to use when generating the secret key.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="name" default="dev">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="multicast-port" default="54327">
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="multicast-group" default="224.2.2.3">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="multicast">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="multicast-group" minOccurs="0"/>
                <xs:element ref="multicast-port" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="enabled" type="xs:boolean" use="optional" default="true"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="merge-policy" default="hz.ADD_NEW_ENTRY">
        <xs:annotation>
            <xs:documentation>
                While recovering from split-brain (network partitioning), map entries in the small cluster will merge
                into the bigger cluster
                based on the policy set here. When an entry merge into the cluster, there might an existing entry with
                the same key already.
                Values of these entries might be different for that same key. Which value should be set for the key?
                Conflict is resolved by
                the policy set here. Default policy is hz.ADD_NEW_ENTRY
                There are built-in merge policies such as:
                hz.NO_MERGE : no entry will merge.
                hz.ADD_NEW_ENTRY : entry will be added if the merging entry's key doesn't exist in the cluster.
                hz.HIGHER_HITS : entry with the higher hits wins.
                hz.LATEST_UPDATE : entry with the latest update wins.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="hz.NO_MERGE"/>
                <xs:enumeration value="hz.ADD_NEW_ENTRY"/>
                <xs:enumeration value="hz.HIGHER_HITS"/>
                <xs:enumeration value="hz.LATEST_UPDATE"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="merge-policies">
        <xs:annotation>
            <xs:documentation>
                Can be used to custom map merge policy implementations.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="map-merge-policy"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="map-merge-policy">
        <xs:annotation>
            <xs:documentation>
                Custom defined merge policy.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="class-name" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="class-name">
        <xs:annotation>
            <xs:documentation>
                Fully qualified merge policy class name
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="max-size-per-jvm">
        <xs:annotation>
            <xs:documentation>
                Maximum size of the queue. When a JVM's local queue size reaches the maximum,
                all put/offer operations will get blocked until the queue size of the JVM goes down below the maximum.
                Any integer between 0 and Integer.MAX_VALUE. 0 means Integer.MAX_VALUE. Default is 0.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:short"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="max-size" default="0">
        <xs:annotation>
            <xs:documentation>
                Maximum size of the map. When max size is reached, map is evicted based on the policy defined.
                Any integer between 0 and Integer.MAX_VALUE. 0 means Integer.MAX_VALUE. Default is 0.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:byte"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="max-pool-size" default="64">
        <xs:annotation>
            <xs:documentation>
                The maximum pool size.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:byte"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="key-password">
        <xs:annotation>
            <xs:documentation>
                The private key password.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="key-alias">
        <xs:annotation>
            <xs:documentation>
                The private key alias.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="keep-alive-seconds" default="60">
        <xs:simpleType>
            <xs:restriction base="xs:byte"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="join">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="multicast" minOccurs="0"/>
                <xs:element ref="tcp-ip" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="iteration-count" default="19">
        <xs:annotation>
            <xs:documentation>
                The iteration count to use when generating the secret key.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:byte"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="interfaces">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="interface"/>
            </xs:sequence>
            <xs:attribute name="enabled" type="xs:boolean" use="optional" default="false"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="interface" default="127.0.0.1">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="member" default="127.0.0.1">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="members" default="127.0.0.1">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="group">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="name"/>
                <xs:element ref="password"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="propertyName">
        <xs:restriction base="xs:string">
            <xs:enumeration value="hazelcast.merge.first.run.delay.seconds"/>
            <xs:enumeration value="hazelcast.merge.next.run.delay.seconds"/>
            <xs:enumeration value="hazelcast.redo.wait.millis"/>
            <xs:enumeration value="hazelcast.socket.bind.any"/>
            <xs:enumeration value="hazelcast.serializer.gzip.enabled"/>
            <xs:enumeration value="hazelcast.serializer.shared"/>
            <xs:enumeration value="hazelcast.packet.version"/>
            <xs:enumeration value="hazelcast.shutdownhook.enabled"/>
            <xs:enumeration value="hazelcast.wait.seconds.before.join"/>
            <xs:enumeration value="hazelcast.max.no.heartbeat.seconds"/>
            <xs:enumeration value="hazelcast.initial.wait.seconds"/>
            <xs:enumeration value="hazelcast.restart.on.max.idle"/>
            <xs:enumeration value="hazelcast.map.partition.count"/>
            <xs:enumeration value="hazelcast.queue.block.size"/>
            <xs:enumeration value="hazelcast.map.remove.delay.seconds"/>
            <xs:enumeration value="hazelcast.map.cleanup.delay.seconds"/>
            <xs:enumeration value="hazelcast.executor.query.thread.count"/>
            <xs:enumeration value="hazelcast.executor.event.thread.count"/>
            <xs:enumeration value="hazelcast.executor.migration.thread.count"/>
            <xs:enumeration value="hazelcast.executor.client.thread.count"/>
            <xs:enumeration value="hazelcast.executor.store.thread.count"/>
            <xs:enumeration value="hazelcast.log.state"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="property">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="name" use="required" type="propertyName"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="properties">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="property"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="executor-service">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="core-pool-size"/>
                <xs:element ref="max-pool-size"/>
                <xs:element ref="keep-alive-seconds"/>
            </xs:sequence>
            <xs:attribute name="name" use="optional" default="default">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="eviction-policy" default="NONE">
        <xs:annotation>
            <xs:documentation>
                Valid values are:
                NONE (no eviction),
                LRU (Least Recently Used),
                LFU (Least Frequently Used).
                NONE is the default.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="NONE"/>
                <xs:enumeration value="LRU"/>
                <xs:enumeration value="LFU"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="eviction-percentage" default="25">
        <xs:annotation>
            <xs:documentation>
                When max. size is reached, specified percentage of the map will be evicted. Any integer between 0 and
                100.
                If 25 is set for example, 25% of the entries will get evicted.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:byte">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="100"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="core-pool-size" default="16">
        <xs:simpleType>
            <xs:restriction base="xs:byte"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="backup-count" default="1">
        <xs:annotation>
            <xs:documentation>
                Number of backups. If 1 is set as the backup-count for example,
                then all entries of the map will be copied to another JVM for
                fail-safety. Valid numbers are 0 (no backup), 1, 2, 3.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:byte">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="3"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="symmetric-encryption">
        <xs:annotation>
            <xs:documentation>
                encryption algorithm such as
                DES/ECB/PKCS5Padding,
                PBEWithMD5AndDES,
                AES/CBC/PKCS5Padding,
                Blowfish,
                DESede
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="algorithm"/>
                <xs:element ref="salt"/>
                <xs:element ref="password"/>
                <xs:element ref="iteration-count"/>
            </xs:sequence>
            <xs:attribute name="enabled" type="xs:boolean" use="optional" default="false"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="asymmetric-encryption">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="algorithm"/>
                <xs:element ref="key-password"/>
                <xs:element ref="key-alias"/>
                <xs:element ref="store-type"/>
                <xs:element ref="store-password"/>
                <xs:element ref="store-path"/>
            </xs:sequence>
            <xs:attribute name="enabled" type="xs:boolean" use="optional" default="false"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="algorithm">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:simpleType name="ST_port">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
</xs:schema>
