hazelcast-spring/src/main/resources/hazelcast-spring.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.hazelcast.com/schema/config"
           xmlns:beans="http://www.springframework.org/schema/beans"
           targetNamespace="http://www.hazelcast.com/schema/config"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:import namespace="http://www.springframework.org/schema/beans"/>

    <xs:element name="config">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="beans:identifiedType">
                    <xs:sequence>
                    	<xs:element name="instance-name" type="xs:string" minOccurs="0" maxOccurs="1" />
                        <xs:element name="group" type="group" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="properties" type="properties" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="wan-replication" type="wan-replication" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="network" type="network" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="executor-service" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence/>
                                <xs:attribute name="name" use="required" type="xs:string"/>
                                <xs:attribute name="core-pool-size" use="optional" type="xs:string"/>
                                <xs:attribute name="max-pool-size" use="optional" type="xs:string"/>
                                <xs:attribute name="keep-alive-seconds" use="optional" type="xs:string"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="queue" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence/>
                                <xs:attribute name="name" use="required" type="xs:string"/>
                                <xs:attribute name="max-size-per-jvm" use="required" type="xs:string"/>
                                <xs:attribute name="backing-map-ref" use="optional" type="xs:string"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="map" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="map-store" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                            	<xs:element name="properties" type="properties" minOccurs="0" maxOccurs="1"/>	
                                            </xs:sequence>
                                            <xs:attribute name="enabled" use="required" type="xs:string"/>
                                            <xs:attribute name="class-name" use="optional" type="xs:string"/>
                                            <xs:attribute name="factory-class-name" use="optional" type="xs:string"/>
                                            <xs:attribute name="implementation" use="optional" type="xs:string"/>
                                            <xs:attribute name="factory-implementation" use="optional" type="xs:string"/>
                                            <xs:attribute name="write-delay-seconds" use="required" type="xs:string"/>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="near-cache" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence/>
                                            <xs:attribute name="time-to-live-seconds" use="required" type="xs:string"/>
                                            <xs:attribute name="max-idle-seconds" use="required" type="xs:string"/>
                                            <xs:attribute name="eviction-policy" use="required" type="xs:string"/>
                                            <xs:attribute name="max-size" use="required" type="xs:string"/>
                                            <xs:attribute name="invalidate-on-change" use="required" type="xs:string"/>
                                        </xs:complexType>
                                    </xs:element>
                                    
                                    <xs:element name="wan-replication-ref" minOccurs="0" maxOccurs="1">
								        <xs:complexType>
								        	<xs:attribute name="name" use="required" type="xs:string"/>
								        	<xs:attribute name="merge-policy" use="required" type="xs:string"/>
								        </xs:complexType>
								    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="name" use="required" type="xs:string"/>
                                <xs:attribute name="backup-count" use="optional" type="xs:string"/>
                                <xs:attribute name="time-to-live-seconds" use="optional" type="xs:string"/>
                                <xs:attribute name="max-size" use="optional" type="xs:string"/>
                                <xs:attribute name="max-idle-seconds" use="optional" type="xs:string"/>
                                <xs:attribute name="eviction-delay-seconds" use="optional" type="xs:string"/>
                                <xs:attribute name="eviction-percentage" use="optional" type="xs:string"/>
                                <xs:attribute name="eviction-policy" use="optional" type="xs:string"/>
                                <xs:attribute name="merge-policy" use="optional" type="xs:string"/>
                                <xs:attribute name="value-indexed" use="optional" type="xs:string"/>
                                <xs:attribute name="read-backup-data" use="optional" type="xs:string"/>
                                <xs:attribute name="cache-value" use="optional" type="xs:string"/>
                                <xs:attribute name="storage-type" use="optional" type="xs:string" default="HEAP" />
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="merge-policies" type="merge-policies" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="security" type="security" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="hazelcast">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="beans:identifiedType">
                    <xs:sequence>
                        <xs:element ref="config" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="client">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="beans:identifiedType">
                    <xs:sequence>
                        <xs:element name="client-properties" type="client-properties" minOccurs="0"/>
                        <xs:element name="members" type="members" default="127.0.0.1" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute name="group-name" type="xs:string" use="required"/>
                    <xs:attribute name="group-password" type="xs:string" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="map" type="hazelcast-instance"/>
    <xs:element name="multiMap" type="hazelcast-instance"/>
    <xs:element name="queue" type="hazelcast-instance"/>
    <xs:element name="topic" type="hazelcast-instance"/>
    <xs:element name="set" type="hazelcast-instance"/>
    <xs:element name="list" type="hazelcast-instance"/>
    <xs:element name="executorService" type="hazelcast-instance"/>
    <xs:element name="idGenerator" type="hazelcast-instance"/>
    <xs:element name="atomicNumber" type="hazelcast-instance"/>
    <xs:element name="countDownLatch" type="hazelcast-instance"/>
    <xs:element name="semaphore" type="hazelcast-instance"/>

    <xs:element name="hibernate-cache-provider" type="hibernate-cache"/>
    <xs:element name="hibernate-region-factory" type="hibernate-cache"/>

    <!-- internal elements -->
    <xs:complexType name="hazelcast-instance">
        <xs:complexContent>
            <xs:extension base="beans:identifiedType">
                <xs:sequence/>
                <xs:attribute name="instance-ref" type="xs:string" use="required"/>
                <xs:attribute name="name" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="network">
        <xs:sequence>
            <xs:element name="join" type="join" minOccurs="0" maxOccurs="1"/>
            <xs:element name="interfaces" type="interfaces" minOccurs="0" maxOccurs="1"/>
            <xs:element name="symmetric-encryption" type="symmetric-encryption" minOccurs="0" maxOccurs="1"/>
            <xs:element name="asymmetric-encryption" type="asymmetric-encryption" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="port" type="xs:string" use="required"/>
        <xs:attribute name="port-auto-increment" type="xs:string" use="optional" default="true"/>
    </xs:complexType>

    <xs:complexType name="tcp-ip">
    	<xs:sequence>
	        <xs:element name="required-member" type="xs:string" minOccurs="0" maxOccurs="1"/>
	        <xs:choice>
	            <xs:element name="members" type="members" default="127.0.0.1"/>
	            <xs:sequence>
	                <xs:element name="member" type="member" default="127.0.0.1" minOccurs="0" maxOccurs="unbounded"/>
	            </xs:sequence>
	            <xs:sequence>
	                <xs:element name="interface" type="interface" minOccurs="0" maxOccurs="unbounded"/>
	            </xs:sequence>
	        </xs:choice>
    	</xs:sequence>
        <xs:attribute name="enabled" type="xs:string" use="optional" default="false"/>
    </xs:complexType>

    <xs:complexType name="multicast">
        <xs:sequence/>
        <xs:attribute name="enabled" type="xs:string" use="optional" default="true"/>
        <xs:attribute name="multicast-group" type="xs:string" use="optional" default="224.2.2.3"/>
        <xs:attribute name="multicast-port" type="xs:string" use="optional" default="54327"/>
    </xs:complexType>

    <xs:complexType name="aws">
        <xs:sequence/>
        <xs:attribute name="enabled" type="xs:string" use="optional" default="true"/>
        <xs:attribute name="access-key" type="xs:string" use="optional" default="" />
        <xs:attribute name="secret-key" type="xs:string" use="optional" default="" />
        <xs:attribute name="region" type="xs:string" use="optional" default="" />
        <xs:attribute name="security-group-name" type="xs:string" use="optional" default="" />
        <xs:attribute name="tag-key" type="xs:string" use="optional" default="" />
        <xs:attribute name="tag-value" type="xs:string" use="optional" default="" />
    </xs:complexType>

    <xs:complexType name="merge-policies">
        <xs:sequence>
            <xs:element name="map-merge-policy" type="map-merge-policy" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="map-merge-policy">
        <xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="class-name" type="xs:string" use="optional"/>
		<xs:attribute name="implementation" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="join">
        <xs:sequence>
            <xs:element name="multicast" type="multicast" minOccurs="0"/>
            <xs:element name="tcp-ip" type="tcp-ip" minOccurs="0"/>
            <xs:element name="aws" type="aws" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="interfaces">
        <xs:sequence>
            <xs:element name="interface" type="interface" default="127.0.0.1"/>
        </xs:sequence>
        <xs:attribute name="enabled" type="xs:string" use="optional" default="false"/>
    </xs:complexType>

    <xs:simpleType name="interface">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="member">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="members">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="group">
        <xs:sequence/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="password" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:simpleType name="clientPropertyName">
        <xs:restriction base="xs:string">
            <xs:enumeration value="hazelcast.client.group.name"/>
            <xs:enumeration value="hazelcast.client.group.password"/>
            <xs:enumeration value="hazelcast.client.init.connection.attempts.limit"/>
            <xs:enumeration value="hazelcast.client.reconnection.attempts.limit"/>
            <xs:enumeration value="hazelcast.client.connection.timeout"/>
            <xs:enumeration value="hazelcast.client.reconnection.timeout"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="client-property">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required" type="clientPropertyName"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="propertyNameEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="hazelcast.merge.first.run.delay.seconds"/>
            <xs:enumeration value="hazelcast.merge.next.run.delay.seconds"/>
            <xs:enumeration value="hazelcast.redo.wait.millis"/>
            <xs:enumeration value="hazelcast.socket.bind.any"/>
            <xs:enumeration value="hazelcast.serializer.gzip.enabled"/>
            <xs:enumeration value="hazelcast.serializer.shared"/>
            <xs:enumeration value="hazelcast.shutdownhook.enabled"/>
            <xs:enumeration value="hazelcast.wait.seconds.before.join"/>
            <xs:enumeration value="hazelcast.max.no.heartbeat.seconds"/>
            <xs:enumeration value="hazelcast.initial.wait.seconds"/>
            <xs:enumeration value="hazelcast.restart.on.max.idle"/>
            <xs:enumeration value="hazelcast.map.partition.count"/>
            <xs:enumeration value="hazelcast.map.remove.delay.seconds"/>
            <xs:enumeration value="hazelcast.map.cleanup.delay.seconds"/>
            <xs:enumeration value="hazelcast.executor.query.thread.count"/>
            <xs:enumeration value="hazelcast.executor.event.thread.count"/>
            <xs:enumeration value="hazelcast.executor.migration.thread.count"/>
            <xs:enumeration value="hazelcast.executor.client.thread.count"/>
            <xs:enumeration value="hazelcast.executor.store.thread.count"/>
            <xs:enumeration value="hazelcast.log.state"/>
            <xs:enumeration value="hazelcast.jmx"/>
            <xs:enumeration value="hazelcast.jmx.detailed"/>
            <xs:enumeration value="hazelcast.mancenter.enabled"/>
            <xs:enumeration value="hazelcast.memcache.enabled"/>
            <xs:enumeration value="hazelcast.rest.enabled"/>
            <xs:enumeration value="hazelcast.map.load.chunk.size"/>
            <xs:enumeration value="hazelcast.in.thread.priority"/>
            <xs:enumeration value="hazelcast.out.thread.priority"/>
            <xs:enumeration value="hazelcast.service.thread.priority"/>
            <xs:enumeration value="hazelcast.socket.receive.buffer.size"/>
            <xs:enumeration value="hazelcast.socket.send.buffer.size"/>
            <xs:enumeration value="hazelcast.socket.keep.alive"/>
            <xs:enumeration value="hazelcast.socket.no.delay"/>
            <xs:enumeration value="hazelcast.heartbeat.interval.seconds"/>
            <xs:enumeration value="hazelcast.icmp.enabled"/>
            <xs:enumeration value="hazelcast.initial.min.cluster.size"/>
            <xs:enumeration value="hazelcast.mc.atomicnumber.excludes"/>
            <xs:enumeration value="hazelcast.mc.countdownlatch.excludes"/>
            <xs:enumeration value="hazelcast.mc.map.excludes"/>
            <xs:enumeration value="hazelcast.mc.queue.excludes"/>
            <xs:enumeration value="hazelcast.mc.semaphore.excludes"/>
            <xs:enumeration value="hazelcast.mc.topic.excludes"/>
            <xs:enumeration value="hazelcast.version.check.enabled"/>
            <xs:enumeration value="hazelcast.map.max.backup.count"/>
            <xs:enumeration value="hazelcast.topic.flow.control.enabled"/>
            <xs:enumeration value="hazelcast.max.wait.seconds.before.join"/>
            <xs:enumeration value="hazelcast.mc.max.visible.instance.count"/>
            <xs:enumeration value="hazelcast.logging.type"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="propertyNameString">
	    <xs:restriction base="non-space-string" />
	</xs:simpleType>
	<xs:simpleType name="propertyName">
		<xs:union memberTypes="propertyNameEnum propertyNameString" />
	</xs:simpleType>
    <xs:complexType name="property">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required" type="propertyName"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="client-properties">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="client-property" type="client-property"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="properties">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="property" type="property"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="symmetric-encryption">
        <xs:sequence/>
        <xs:attribute name="enabled" type="xs:string" use="optional" default="false"/>
        <xs:attribute name="algorithm" use="optional" type="xs:string"/>
        <xs:attribute name="salt" use="optional" type="xs:string"/>
        <xs:attribute name="password" use="optional" type="xs:string"/>
        <xs:attribute name="iteration-count" use="optional" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="asymmetric-encryption">
        <xs:sequence/>
        <xs:attribute name="enabled" type="xs:string" use="optional" default="false"/>
        <xs:attribute name="algorithm" use="optional" type="xs:string"/>
        <xs:attribute name="key-password" use="optional" type="xs:string"/>
        <xs:attribute name="key-alias" use="optional" type="xs:string"/>
        <xs:attribute name="store-type" use="optional" type="xs:string"/>
        <xs:attribute name="store-password" use="optional" type="xs:string"/>
        <xs:attribute name="store-path" use="optional" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="hibernate-cache">
        <xs:complexContent>
            <xs:extension base="beans:identifiedType">
                <xs:attribute name="instance-ref" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:simpleType name="non-space-string">
		<xs:restriction base="xs:string">
			<xs:pattern value="\S.*" />
		</xs:restriction>
	</xs:simpleType>
    
    <xs:complexType name="wan-replication">
        <xs:sequence>
            <xs:element name="target-cluster" minOccurs="1" maxOccurs="unbounded">
	        <xs:complexType>
	            <xs:sequence>
		            <xs:choice minOccurs="1" maxOccurs="1">
		            	<xs:element name="replication-impl">
					    	<xs:simpleType>
					    		<xs:restriction base="xs:string"/>
					    	</xs:simpleType>
	                	</xs:element>
	                	<xs:element name="replication-impl-object">
	                		<xs:complexType>
						        <xs:complexContent>
						            <xs:extension base="beans:identifiedType">
						                <xs:attribute name="ref" type="xs:string" use="required"/>
						            </xs:extension>
						        </xs:complexContent>
						    </xs:complexType>
	                	</xs:element>
			        </xs:choice>
	                <xs:element name="end-points" minOccurs="1" maxOccurs="1">
				    	<xs:complexType>
				    		<xs:sequence>
				                <xs:element name="address" minOccurs="1" maxOccurs="unbounded">
							        <xs:simpleType>
							            <xs:restriction base="xs:string"/>
							        </xs:simpleType>
				                </xs:element>
				            </xs:sequence>
				    	</xs:complexType>
	                </xs:element>
	            </xs:sequence>
	            <xs:attribute name="group-name" use="required">
	                <xs:simpleType>
	                    <xs:restriction base="xs:string"/>
	                </xs:simpleType>
	            </xs:attribute>
	            <xs:attribute name="group-password" use="required">
	                <xs:simpleType>
	                    <xs:restriction base="xs:string"/>
	                </xs:simpleType>
	            </xs:attribute>
	        </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="security">
    	<xs:sequence>
   			<xs:element name="member-credentials-factory" minOccurs="0" maxOccurs="1">
   				<xs:complexType>
		    		<xs:sequence>
		    			<xs:element name="properties" type="properties" minOccurs="0" maxOccurs="1"/>
		    		</xs:sequence>
		    		<xs:attribute name="class-name" type="non-space-string" use="optional" />
		    		<xs:attribute name="implementation" type="non-space-string" use="optional" />
		    	</xs:complexType>
   			</xs:element>
   			<xs:element name="member-login-modules" type="login-modules" minOccurs="0" maxOccurs="1" />
   			<xs:element name="client-login-modules" type="login-modules" minOccurs="0" maxOccurs="1"/>
   			<xs:element name="client-permission-policy" minOccurs="0" maxOccurs="1" >
   				<xs:complexType>
		    		<xs:sequence>
		    			<xs:element name="properties" type="properties" minOccurs="0" maxOccurs="1"/>
		    		</xs:sequence>
		    		<xs:attribute name="class-name" type="non-space-string" use="optional" />
		    		<xs:attribute name="implementation" type="non-space-string" use="optional" />
		    	</xs:complexType>
   			</xs:element>
   			<xs:element name="client-permissions" minOccurs="0" maxOccurs="1">
   				<xs:complexType>
		    		<xs:sequence>
		    			<xs:element name="all-permissions" type="base-permisson" minOccurs="0" maxOccurs="1" />
		    			<xs:element name="map-permission" type="instance-permisson" minOccurs="0" maxOccurs="unbounded" />
		    			<xs:element name="queue-permission" type="instance-permisson" minOccurs="0" maxOccurs="unbounded" />
		    			<xs:element name="multimap-permission" type="instance-permisson" minOccurs="0" maxOccurs="unbounded"/>
					    <xs:element name="topic-permission" type="instance-permisson" minOccurs="0" maxOccurs="unbounded"/>
					    <xs:element name="list-permission" type="instance-permisson" minOccurs="0" maxOccurs="unbounded"/>
					    <xs:element name="set-permission" type="instance-permisson" minOccurs="0" maxOccurs="unbounded"/>
					    <xs:element name="lock-permission" type="instance-permisson" minOccurs="0" maxOccurs="unbounded"/>
					    <xs:element name="atomic-number-permission" type="instance-permisson" minOccurs="0" maxOccurs="unbounded"/>
					    <xs:element name="countdown-latch-permission" type="instance-permisson" minOccurs="0" maxOccurs="unbounded"/>
					    <xs:element name="semaphore-permission" type="instance-permisson" minOccurs="0" maxOccurs="unbounded"/>
					    <xs:element name="id-generator-permission" type="instance-permisson" minOccurs="0" maxOccurs="unbounded"/>
					    <xs:element name="executor-service-permission" type="instance-permisson" minOccurs="0" maxOccurs="unbounded"/>
					    <xs:element name="transaction-permission" type="base-permisson" minOccurs="0" maxOccurs="1" />
					    <xs:element name="listener-permisson" minOccurs="0" maxOccurs="unbounded">
						    <xs:complexType>
						    	<xs:complexContent>
						    		<xs:extension base="base-permisson">
								    	<xs:attribute name="name" type="non-space-string" use="required" />
						    		</xs:extension>
						    	</xs:complexContent>
						    </xs:complexType>
					    </xs:element>
		    		</xs:sequence>
		    	</xs:complexType>
   			</xs:element>
   		</xs:sequence>
   		<xs:attribute name="enabled" type="xs:string" default="false" />
    </xs:complexType>
    
    <xs:complexType name="login-modules">
   		<xs:sequence>
   			<xs:element name="login-module" type="login-module" minOccurs="0" maxOccurs="unbounded"/>
   		</xs:sequence>
   	</xs:complexType>
   	
   	<xs:complexType name="login-module">
   		<xs:sequence>
   			<xs:element name="properties" type="properties" minOccurs="0" maxOccurs="1"/>
   		</xs:sequence>
   		<xs:attribute name="class-name" type="non-space-string" use="required" />
   		<xs:attribute name="usage" use="optional" default="required">
   			<xs:simpleType>
   				<xs:union>
   					<xs:simpleType>
   						<xs:restriction base="xs:string">
		   					<xs:enumeration value="REQUIRED" />
		   					<xs:enumeration value="OPTIONAL" />
		   					<xs:enumeration value="REQUISITE" />
		   					<xs:enumeration value="SUFFICIENT" />	
		   				</xs:restriction>
   					</xs:simpleType>
   					<xs:simpleType>
   						<xs:restriction base="non-space-string" />
   					</xs:simpleType>
   				</xs:union>
   			</xs:simpleType>
   		</xs:attribute>
   	</xs:complexType>
   	
   	<xs:complexType name="base-permisson">
    	<xs:sequence>
    		<xs:element name="endpoints" type="endpoints" minOccurs="0" maxOccurs="1"/>
    	</xs:sequence>
    	<xs:attribute name="principal" type="xs:string" use="optional" default="*">
    		<xs:annotation>
    			<xs:documentation>
    				Name of the principal. Wildcards(*) can be used.
    			</xs:documentation>
    		</xs:annotation>
    	</xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="instance-permisson">
    	<xs:complexContent>
    		<xs:extension base="base-permisson">
		    	<xs:sequence>
		    		<xs:element name="actions" type="actions" minOccurs="1" maxOccurs="1"/>
		    	</xs:sequence>
		    	<xs:attribute name="name" type="xs:string" use="required">
		    		<xs:annotation>
		    			<xs:documentation>
		    				Name of the permission. Wildcards(*) can be used.
		    			</xs:documentation>
		    		</xs:annotation>
		    	</xs:attribute>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>
   	
   	<xs:complexType name="endpoints">
    	<xs:sequence>
    		<xs:element name="endpoint" minOccurs="1" maxOccurs="unbounded" default="127.0.0.1">
		    	<xs:annotation>
		    		<xs:documentation>
		    			Endpoint address of principal. Wildcards(*) can be used.
		    		</xs:documentation>
		    	</xs:annotation>
		        <xs:simpleType>
		            <xs:restriction base="xs:string" />
		        </xs:simpleType>
    		</xs:element>
    	</xs:sequence>
   	</xs:complexType>
   	
   	<xs:complexType name="actions">
    	<xs:sequence>
    		<xs:element name="action" minOccurs="1" maxOccurs="unbounded">
		    	<xs:annotation>
		    		<xs:documentation>
		    			Permission actions that are permitted on Hazelcast instance objects.
		    		</xs:documentation>
		    	</xs:annotation>
		    	<xs:simpleType>
		    		<xs:union>
				    	<xs:simpleType>
				    		<xs:restriction base="xs:string" >
				    			<xs:enumeration value="all" />
								<xs:enumeration value="create" />
								<xs:enumeration value="destroy" />
								<xs:enumeration value="put" />
								<xs:enumeration value="add" />
								<xs:enumeration value="get" />
								<xs:enumeration value="set" />
								<xs:enumeration value="remove" />
								<xs:enumeration value="offer" />
								<xs:enumeration value="poll" />
								<xs:enumeration value="take" />
								<xs:enumeration value="lock" />
								<xs:enumeration value="listen" />
								<xs:enumeration value="publish" />
								<xs:enumeration value="increment" />
								<xs:enumeration value="decrement" />
								<xs:enumeration value="execute" />
								<xs:enumeration value="countdown" />
								<xs:enumeration value="acquire" />
								<xs:enumeration value="release" />
								<xs:enumeration value="drain" />
								<xs:enumeration value="statistics" />
				    		</xs:restriction>
				    	</xs:simpleType>
		    			<xs:simpleType>
		    				<xs:restriction base="non-space-string" />
		    			</xs:simpleType>
		    		</xs:union>
		    	</xs:simpleType>
    		</xs:element>
    	</xs:sequence>
   	</xs:complexType>

</xs:schema>
